{% extends 'layout.html.twig' %}

{% block content %}
    {{ parent() }}
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-40 padding-bottom-40">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Job & You</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
                                <li class="breadcrumb-item"><a href="{{ path('candidats') }}">Trouver un candidat</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ candidat.getNom()|upper }} {{ candidat.getPrenom() }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Candidates Details -->
    <div class="alice-bg padding-top-60 section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="job-listing-details">
                        <div class="job-title-and-info">
                            <div class="title">
                                <div class="thumb">
                                    <img src="{{ asset('images/register-box/1.png') }}" class="img-fluid" alt="Logo de candidat }}">
                                </div>
                                <div class="title-body">
                                    <h4>{{ candidat.getNom()|upper }} {{ candidat.getPrenom() }}</h4>
                                    <div class="info">
                                        <span class="office-location"><a href="#"><i data-feather="map-pin"></i>{{ candidat.getVille()|upper }} {{ candidat.getCodePostal() }}</a></span>
                                    </div>
                                </div>
                            </div>
                            {% if is_granted('ROLE_ENTREPRISE') %}
                                <div class="buttons" data-toggle="modal" data-target="#exampleModal">
                                    <a class="apply" href="#">Contacter</a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="details-information section-padding-60">
                            <div class="row">
                                <div class="col-xl-7 col-lg-8">
                                    {% if ((candidat.getDescription()) is not empty) %}
                                    <div class="description details-section">
                                        <h4><i data-feather="align-left"></i>Description</h4>
                                        <p>{{ candidat.getDescription()|nl2br }}</p>
                                    </div>
                                    {% endif %}
                                    {% if ((candidat.getEducation()) is not empty) %}
                                        <div class="responsibilities details-section">
                                            <h4><i data-feather="zap"></i>Formations</h4>
                                            <ul>
                                                {% for formation in candidat.getEducation()|split(',') %}
                                                    <li>{{ formation }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% if ((candidat.getExperience()) is not empty) %}
                                    <div class="edication-and-experience details-section">
                                        <h4><i data-feather="book"></i>Expériences professionelles</h4>
                                        <ul>
                                            {% for experience in candidat.getExperience()|split(',') %}
                                                <li>{{ experience }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                    {% if ((candidat.getCompetence()) is not empty) %}
                                    <div class="other-benifit details-section">
                                        <h4><i data-feather="gift"></i>Avantages</h4>
                                        <ul>
                                            {% for competence in candidat.getCompetence()|split(',') %}
                                                <li>{{ competence }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </div>
                                {% if (is_granted('ROLE_ENTREPRISE') or (app.user.getEmail() == candidat.getUser().getEmail())) %}
                                    <div class="col-xl-4 offset-xl-1 col-lg-4">
                                        <div class="information-and-share">
                                            <div class="job-summary">
                                                <h4>Coordonnées</h4>
                                                <ul>
                                                    <li><span>E-mail :</span> {{ candidat.getUser().getEmail() }}</li>
                                                    <li><span>Téléphone :</span> {{ candidat.getTelephone() }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {# <div class="row">
                            <div class="col-xl-7 col-lg-8">
                                <div class="company-information details-section">
                                    <h4><i data-feather="briefcase"></i>À propos de l'entreprise</h4>
                                    <ul>
                                        <li><span>Nom :</span> {{ emploi.getEntreprise().getDenomination()|upper }}</li>
                                        {% if emploi.getEntreprise().getSiteWeb() %}
                                            <li><span>Site internet :</span> <a href="{{ emploi.getEntreprise().getSiteWeb() }}">{{ emploi.getEntreprise().getSiteWeb() }}</a></li>
                                        {% endif %}
                                        {% if emploi.getEntreprise().getSecteursActivites() %}
                                            <li><span>Secteurs d'activités : </span> {{ emploi.getEntreprise().getSecteursActivites()|replace({',': ', '}) }}</li>
                                        {% endif %}
                                        <li><span>Description de l'entreprise : </span></li>
                                        <li>{{ emploi.getEntreprise().getDescription()|nl2br }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-4" style="align-items: center;display: flex;justify-content: center;">
                                <img src="{% if emploi.getEntreprise().getLogo() is not empty %}{{ asset(emploi.getEntreprise().getLogo()) }}{% else %}{{ asset('images/register-box/2.png') }}{% endif %}" alt="Logo de {{ emploi.getEntreprise().getDenomination()|upper }}" style="max-width: 200px">
                            </div>
                        </div> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Candidates Details End -->

    {% block modal %}
        <!-- Modal Contact -->
        <div class="modal fade contact-form-modal" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4><i data-feather="edit"></i>Recrutez ce candidat</h4>
                        <form action="{{ path('candidat_candidature') }}" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="idCandidat" value='{{ candidat.getId() }}'>
                            <label for="description">Message à destination du candidat :</label>
                            <div class="form-group">
                                <textarea name='description' class="form-control" placeholder="Ex : Bonjour, votre profil nous intéresse. Seriez-vous disponible la semaine prochaine..."></textarea>
                            </div>
                            <button class="button">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock modal %}

{% endblock %}